@{
    ViewBag.Title = "Contact Us";
}
<section class="jobotron>">
    <h2>Nomad Cars</h2>
    <h3>@ViewBag.Title</h3>
</section>

<address>
    Eight Kestrel Way <br />
    Aylesbury, Bucks HP20 1AB<br /> <br />
    Call us on <br /> 07762 123 456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">william.foster@nomad.com</a><br />
</address>