@model IEnumerable<NomadCars.Models.Car>
@using NomadCars.Models

@{
    ViewBag.Title = "Used Cars";
}
<header class="jumbotron">
    <h2>Nomad Cars</h2>
    <h3>Currenlty Available Used Cars</h3>
</header>

@foreach(var car in Model)
{
<section class="row">
    <section class="col-lg-4">
        <img src="https://via.placeholder.com/150" alt="Image of car" title="image of car" />
    </section>
    <section class="col-lg-6">
        <h2>@car.CarSpec.Make @car.CarSpec.Model.GetDisplayName()</h2>
    </section>
    <section class="col-lg-2"></section>
</section>
}


